---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="مرحباً" dir="rtl">
  <h1>مرحباً بكم في ورقتنا البيضاء</h1>
  <p>استكشف بحثنا ونتائجنا الشاملة</p>
  <a href="/ar/whitepaper">اقرأ الورقة البيضاء</a>
</MainLayout> 
